.ganttVerticalContainer {
  overflow: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.ganttHeaderSticky {
  position: sticky;
  top: 0;
}

.ganttHeaderClear {
  clear: both;
}

.horizontalContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  position: relative;
}
